#content-creators section {
  margin: auto;
  margin-bottom: 1em;
}

.channel {
  height: 5em;
  width: 20em;
  background-color: black;
  border-radius: 5em;
  border: 4px solid grey;
}

.channel img {
  height: 5em;
  border-radius: 50%;
}

.channel:hover img {
  transform: scale(1.1, 1.1) rotate(-10deg);
}

.channel h3 {
  font-size: 1.5em;
  padding-left: .25em;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 3.1em; 
}
