#icon-menu {
  padding: .4em;
}
nav li {
  float: right;
  padding: 1em;
  border-radius: 2em;

}
nav ul{
  display: none;
  height: 5em;
  padding: 0;
  background-color: rgb(58, 58, 58);
}

nav li:hover {
  background-color: rgb(185, 19, 19);
}

nav:hover ul {
  display: block;
}