.playlist {

  padding: 2em;
}

.playlist:hover {
  background-color: rgb(50,50,50);
}

.playlist img {
  height: 5em;
  padding: .5em;
  float: left;
}

.playlist article {
  padding-top: 1em;
}

.playlist h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.playlist p {
  font-size: 1em;
}
