* {
  font-size: 16px;
}

html {
  max-width: 35em;
  margin: auto;
  background-color: rgb(196, 196, 196);
}

body {
  color: white;
  font-family: 'Cousine', monospace;

}

h1{
  font-size: 3em;
  text-align: center;
}

