<<<<<<< HEAD
* {
  font-size: 16px;
}

html {
  width: 35em;
  margin: 0;
  margin: auto;
  padding: 0;
  background-color: rgb(196, 196, 196);
}
=======
body {
  background-color: black;
  color: white;
  font-family: 'Cousine', monospace;

}

h1{
  font-size: 3em;
  text-align: center;
}

>>>>>>> bdae31f6fe8e97f2df6765a6594ff823e21236e4
