nav li {
  display: inline-block;
  margin-right: 1em;
  text-align: center;
  font-family: 'Cousine', monospace;
  font-size: 1.5em;
  text-decoration-style: none;
}

nav ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.description{
  display: auto;
  font-family: 'Cousine', monospace;
  text-align: center;
  font-size: 1em;
  margin-top: 5%;

}


@media only screen and (min-width: 640px){

  nav li {
    display: inline-block;
    margin-right: 1em;
    text-align: center;
    font-family: 'Cousine', monospace;
    font-size: 1.5em;
    text-decoration-style: none;
  }
  
  nav ul {
    
  }
  
  .description{
    display: auto;
    font-family: 'Cousine', monospace;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
  
  }

} 









