header {
  height: 7em;
  background-color: rgb(58, 58, 58);
}

header h1 {
  margin: 0;
}

header {
  color: white;
}

body {
  height: 100;
  margin: 0;
  padding: 0;
  background: radial-gradient(rgb(58, 58, 58), rgb(0, 0, 0));
  color: white;
}

main {
  height: 100%;
  padding-bottom: 10em;
}

.container {
  padding: 2em;
}

footer {
  color: white;
  background-color: rgb(58, 58, 58);
  position: relative;
  margin-top: -180px;
  height: 180px;
  clear: both;

}

