body {
  background: radial-gradient(rgb(58, 58, 58), rgb(0, 0, 0));
}

header {
  color: white;
  height: 6em;
  background-color: rgb(58, 58, 58);
}

main {
  padding-bottom: 12em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  padding: 1em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}