header {
  height: 6em;
  background-color: rgb(58, 58, 58);
}

header {
  color: white;
}

body {
  background: radial-gradient(rgb(58, 58, 58), rgb(0, 0, 0));
}

main {
  padding-bottom: 12em;
}

.pull-right {
  float: right;
}

.container {
  padding: 2em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1,h2{
  text-align: center;
  font-family: 'Cousine', monospace;
}

h2{
  margin-top:7%;
  margin-bottom: 7%;
  font-size: 1.5em;
}

.description{
  display: auto;
  font-family: 'Cousine', monospace;
  text-align: center;
  font-size: 1em;
  margin-top: 10%;
}

#images{
  width: 40%;
  width: 40%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

footer {
  background-color: rgb(58, 58, 58);
  position: relative;
  margin-top: -180px;
  height: 180px;
  clear: both;
 
}

footer li{
  display: inline-block;
  margin-left: 2em;
}

ul{
  text-align: center;
  padding-top: 5em;
}

